*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

nav{
    background-color: #0F222D;
    height: 100px;
    position: relative;
    overflow: hidden;

}



.ej-logo{
   
    height: 80px;
    width: 100px; 
}


nav ul {
    position: absolute;
    top: 0;
    right: 100px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    line-height: 90px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li a:hover{
    color: rgb(172, 29, 29);
    transition: .5s;
    

}


header{
    height: 250px;
    background-image: radial-gradient(circle, #1a4862, #00697e, #008b85, #29aa74, #8bc457);}

header h1{
    text-align: center;
    padding: 40px;
    color: white;
    line-height: 150px;
}


main{
    width: 100%;
    height: 850px;
    background-color: #0F222D;
    position: relative;
}


.products{
    display: flex;
    text-align: center;
}


.prod-container img{
    margin-top: 50px;
    width: 220px;

}

.prod-container{
    
    margin: 0 120px;
    color: white;

}

.prod-container button{
    padding: 15px 50px;
    margin: 10px;
    border-radius: 25px;
    border: 0;
}

.prod-container p{
    margin-top: 15px;
}

.prod-container button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.prod-container button:active{
    color: red;
    

}


.about-company{
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.about-company h4{
    padding-top: 20px;
    font-weight: 400;
    font-size: 15px;
}

footer{
    margin-top: 1px;
    height: 80px;
    background-color: #143d57;
}


@media only screen and (max-width: 768px){

.products{
    display: block;
}

main{
    height: 2400px;
    width: 100%;
}

.about-company{
    font-size: 10;
    text-align: center;
}

nav ul li{
    display: block;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
}

nav{
    height: 180px;

}


}